html, body {
height: 600px;
margin-top: 0;
}
.contener {
    background-color: rgb(237, 237, 248);
    height: 100%;
    width: 100%;
    display: flex;
}
table {
    height: 100%;
    width: 100%;
}
.none {
    background-color: rgb(237, 237, 248);
}
td {
    width: 14%;
    padding: 3px;
    vertical-align: top;
    text-align: end;
    background-color: rgb(183, 189, 183);
}
th {
    height: 30px;
    text-align: center;
    background-color: rgb(145, 141, 141);
}
h2 {
    text-align: center;
    margin: 0;
    padding: 5px;
}
