#heading1 {
  color: red;
}
.heading {
  font-family: sans-serif;
  font-size: 24px;
  color: blue;
}
h1 {
  font-size: 48px;
  color: green;
}

/* 
    h1 - selector (tanlab oluvchi) 
    color - property (xossa)
    red - value (qiymat)
*/

/* .red {
  color: red;
}

.blue {
  color: blue;
}

.yellow {
  color: yellow;
} */

section span {
  color: red;
}
