.box {
  width: 200px;
  height: 200px;
  background-color: red;
  transition: width 4s, background-color 4s;
  /* transition-timing-function: linear; */
  transition-timing-function: ease-in;
  transition-delay: 5s;
}

.box:hover {
  width: 600px;
  background-color: green;
}
