* {
  margin: 0;
  padding: 0;
}

html {
  font-family: sans-serif;
}

.header,
.footer {
  padding: 30px;
  background-color: #666;
  text-align: center;
  color: white;
}

.footer {
  padding: 20px;
  clear: left;
}

.main {
  height: 170px;
}

.sidebar {
  padding: 30px 15px;
  background-color: #ccc;
  height: 100%;
  width: 18%;
}

.sidebar ul li {
  list-style-type: none;
}

.article {
  padding: 30px 0 30px 160px;
  height: 100%;
  background-color: #eee;
  /* overflow: scroll; */
  /* overflow-y: scroll; */
  /* overflow-y: auto; */
}

.article h2 {
  margin-bottom: 20px;
}

.sidebar {
  float: left;
}

@media screen and (max-width: 520px) {
  .article {
    padding: 12px 0 12px 120px;
  }
  .article p {
    font-size: 14px;
  }
  .sidebar {
    padding: 15px 7px;
    background-color: red;
    height: 100%;
  }
}
